<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{title}</title>
		<link rel="stylesheet" href="/@/style.css">
	</head>
	<body>
		<div class="markdown-body">
			{body}
			<!-- <p><a href='#' onclick='history.back();'>Go back</a></p> -->
			<p><a href='/'>Home</a></p>
		</div>
	</body>
	<style>
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 45px;
	}
	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
	</style>
</html>
